<!--

	This is a tiny little angular app.
	
	It has some libraries in the bower.json file. You'll need to install them: 
		`bower install`
	
	You'll also probably need to run it on a webserver: 
		`npm install -g local-web-server && ws`
	
	In the real world, our source files would be separate, and we'd be using a build system, etc, etc... 
	But for the purpose of this task, you can continue writing all the code in the <script> tags at the bottom.

	Now for the tasks:

	1. If you take a peek at the code, you should see that the "Favourite Soup" select box is bound to a "favourites" object, 
	and shows a set of soupOptions. When you choose your favourite soup - the "Your favourite soup is:" line should be 
	populated with your favourite soup. However, it's a little awkward to show that text all the time - so your first task 
	is to only show that text (the <h2> tag) when a soup has been chosen.

	2. We'd also like to be able to add new soups to the list of options. There's an input (that's already bound to a 
	variable), and a button. You'll just need to get that button to call the "addNewSoup" function when clicked, and flesh 
	out that function.

	3. Finally, we need to add a switch that enables/disables the entire "new soup" functionality. ie: Don't show the div 
	that has the class "new-soup". You should use the <md-switch> directive for this. For details on how that works, check 
	out these links:
		https://material.angularjs.org/latest/demo/switch
		https://material.angularjs.org/latest/api/directive/mdSwitch

-->
<!doctype html>

<html ng-app="dev-test">
	<head>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<style>
			.main {
				width: 200px;
				margin: 50px auto;
			}
		</style>
	</head>
	<body>
		<div ng-controller="DevTestController">
		    <div class="main" layout-align="center center" flex="column">
		    	<h1 class="md-title">Soup Shop</h1>
		    	<h2 class="md-body-1">Your favourite soup is: {{favourites.soup}}</h2>
		    	
		      	<md-input-container class="md-block">
		        	<label>Favourite Soup</label>
		        	<md-select ng-model="favourites.soup">
		        		<md-option ng-repeat="option in soupOptions" ng-value="option">{{option}}</md-option>
		        	</md-select>
				</md-input-container>
				
				<div class="new-soup">
					<md-input-container class="md-block">
						<label>New Soup</label>
						<input ng-model="newSoup">
					</md-input-container>
					<md-button class="md-primary md-raised">Add New Soup</md-button>
				</div>

		    </div>
		</div>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script>
			(function () {
				angular.module('dev-test', ['ngMaterial']).controller('DevTestController', ['$scope', function($scope) {
					$scope.favourites = {}
					$scope.soupOptions = [
						'Mushroom',
						'Chicken Noodle',
						'Tomato'
					]

					$scope.addNewSoup = function() {
						/*
							This function should add the value
							in the New Soup input to the 
							list of soupOptions in the select box
						*/
						console.log('New Soup!');
					}
				}]).run();
			})();
		</script>
	</body>
</html>